<configuration scan="true" scanPeriod="1800 seconds" debug="true">
    <springProperty scope="context" name="appName" source="spring.application.name"/>
    <property name="LOG_HOME" value="../logs" />
    <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
    <!--  <property name="LOG_PATTERN" value="[%-5level][%d{yyyy-MM-dd HH:mm:ss.SSS}][${appName},%X{traceId:-},%X{spanId:-}][%thread][%logger{50}][%line] - %msg%n" />-->
    <property name="LOG_PATTERN" value="[%-5level][%thread][%logger{50}][%line] - %msg%n" />
    <!-- 控制台输出 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- 日志输出编码 -->
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <logger name="com.fusionbank" level="DEBUG"/>
    <logger name="com.tencent.polaris" level="ERROR"/>
    <logger name="com.tencent.cloud.polaris" level="ERROR"/>
    <logger name="io.grpc.netty.NettyClientHandler" level="ERROR"/>
    <logger name="com.fusionbank.ceb.framework.panshi.PanshiReporter" level="ERROR"/>
    <logger name="org.springframework.beans.factory.support" level="ERROR"/>
    <logger name="springfox" level="ERROR"/>
    <logger name="org.springframework.context.annotation.ClassPathBeanDefinitionScanner" level="ERROR"/>
    <logger name="org.mybatis.spring.mapper.ClassPathMapperScanner" level="DEBUG"/>
    <logger name="com.ulisesbocchio.jasyptspringboot" level="ERROR"/>
    <logger name="com.baomidou.mybatisplus.core.MybatisConfiguration" level="ERROR"/>
    <logger name="org.springframework.core.env" level="ERROR"/>
    <logger name="org.apache.kafka.clients" level="ERROR"/>
    <logger name="org.springframework.test.context.cache" level="ERROR"/>
    <logger name="ch.qos.logback" level="ERROR"/>
    <logger name="org.hibernate" level="ERROR"/>
    <logger name="org.springframework.aop" level="ERROR"/>

    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>